@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #05386b;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background: #5cdb95 radial-gradient(circle, #5cdb95 13%, #859eff 100%);
    background-size: 100vw 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 65vh 20vh;
    grid-template-areas: "header""content""footer";
}

header {
    grid-area: header;
    padding: 1% 1% 0;
}

.elements {
    grid-area: content;
    place-self: center;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    padding: 0 1% 1%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    align-items: center;
}

.color-container, input, button {
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border: none;
    margin: 1%;
    padding: 1% 2.5%;
    color: white;
    background: #05386b;
    box-shadow: none;
    border-radius: 2em;
    box-shadow: 0 0 3px #fff5, inset 0 0 3px #fff5,
        0 0 5px #fff5, inset 0 0 5px #fff5;
    transition: box-shadow 0.5s ease-in;
}

input {
    margin: 0;
    padding: 0;
    max-height: 1em;
    background: #0000;
    box-shadow: none;
}

button:hover, button:focus,
.color-container:hover, .color-container:focus {
    box-shadow: 0 0 3px #fff5, inset 0 0 3px #fff5,
        0 0 5px #fff5, inset 0 0 5px #fff5,
        0 15px 10px -10px #0007, 0 1px 4px #0004;
    transition: box-shadow 0.3s ease-out;
}

.color-container {
    background: linear-gradient(310deg, #002e96, #80198c, #ba0072, #db2950, #db8d00, #bfb800);
    background-size: 300% 100%;
    transition: background 0.5s ease-in-out;
}

.color-container:hover {
    background-position: 100% 0;
    transition: background 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .circle {
        margin: 5px;
        width: 5vw;
        height: 5vw;
        will-change: transform;
        transition: all 1s ease-out;
        animation: pop 0.5s 1;
    }

    .circle-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: solid 1px #ffffff;
        box-shadow: 0 0.5vw 0.75vw #0001, inset 0 0.25vw 0.75vw 0.125vw #ffffff;
    }

    .circle:hover {
        animation: jump 1s infinite;
        animation-delay: 0;
    }
}

@keyframes jump {
    0% {
        transform: rotate(-10deg) scale(0.825, 1.125);
    }

    25% {
        transform: scale(1.125, 0.825);
    }

    50% {
        transform: rotate(10deg) scale(0.825, 1.125);
    }

    75% {
        transform: scale(1.125, 0.825);
    }

    100% {
        transform: rotate(-10deg) scale(0.825, 1.125);
    }

}

@keyframes pop {
    0% {
        transform: translate(0) scale(0.5);
    }

    50% {
        transform: scale(1.05) scale(1.1);
    }

    100% {
        transform: translate(0) scale(1);
    }
}