@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #05386b;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background: #5cdb95;
}

header {
    padding: 2%;
}

div.ex {
    margin: 4%;
    padding: 2%;
    border: 3px solid #05386b;
    transition: box-shadow 0.5s ease-in;
}

div.ex>* {
    padding: 1% 2%;
}

h3 {
    width: fit-content;
    margin-top: -5%;
    background: #5cdb95;
}

input, textarea, button {
    border: none;
    margin: 1% 2%;
    background: #edf5e1;
    transition: box-shadow 0.5s ease-in;
}

button {
    color: #edf5e1;
    background: #05386b;
    box-shadow: none;
}

button:hover, button:focus,
input:hover, input:active, input:focus,
textarea:hover, textarea:active, textarea:focus,
div.ex:focus-within, div.ex:hover {
    box-shadow: 0 8px 10px #0007;
    transition: box-shadow 0.3s ease-out;
}

.result {
    margin: 2% 2%;
    background: #05386b30;
}

td {
    text-align: center;
}

#text p {
    margin: 1em 0 0;
    padding: 1% 2%;
    line-height: 1.5;
    color: #edf5e1;
    background: #05386b10;
}